/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.idea
.env
v1.1
.ds_store
_ide_helper.php
.phpstorm.meta.php
npm-debug.log
vue.js
resources/assets/js/vue-i18n-locales.generated.js
docker/app/packaged/*
!docker/app/packaged/.gitkeep
public/mix-manifest.json
public/css/*
!public/css/.gitkeep
public/js/*
!public/js/.gitkeep
public/img/*
!public/img/.gitkeep
public/images/*
public/fonts/*
!public/images/launcher*
!public/images/default-avatar.png
!public/images/*/