.no-padding {
    padding: 0px;
}
.no-margin {
    margin: 0px;
}

.widget-price .widget-body .price-slider .fake-input {
    background-color: transparent;
    border: 0;
    width: 50%;
    margin-bottom: 5px;
    font-size: 18px;
    color: #999999;
    display: inline-block;
}

.lazyloading, .lazyload {
    opacity: 1;
    transition: opacity 300ms;
    background: #f7f7f7 url(/images/rings.svg) no-repeat center;
    height: 200px;
}

.blocked{
    display: block;
    height: 50px;
}