.no-padding {
    padding: 0px;
}

.no-margin {
    margin: 0px;
}

.widget-price .widget-body .price-slider .fake-input {
    background-color: transparent;
    border: 0;
    width: 50%;
    margin-bottom: 5px;
    font-size: 18px;
    color: #999999;
    display: inline-block;
}

.lazyloading, .lazyload {
    opacity: 1;
    transition: opacity 300ms;
    background: #f7f7f7 url(images/rings.svg) no-repeat center;
    height: 200px;
}

.blocked {
    display: block;
    height: 50px;
}

.img-responsive {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
}

.content.press {
    background-image: url(images/Medios-imagen-transparencia-verde.jpg);
}

.press p {
    color: #ffffff;
    font-size: 20px;
    margin: 0;
    text-align: center;
}

.press .newspapers {
    padding: 42px;
    width: 60%;
    margin:auto;
    background: url(images/Medios-vectores.png) no-repeat;
    background-size: 100% auto;
}

.brands .default-style {
    margin-right:30px;
    display:inline-block;
}

@media (min-width: 768px) and (max-width: 991px) {
    /*.press .newspapers {*/
        /*padding: 50px;*/
    /*}*/
}

@media (max-width: 767px) {
    .press .newspapers {
        padding: 40px;
        width: 92%;
    }

    .press p {
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .press .newspapers {
        padding: 30px;
        width: 92%;
    }

    .press p {
        font-size:14px;
    }
}

@media (max-width: 568px) {
    .press .newspapers {
        padding: 25px;
        width: 92%;
    }
}
